<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Index</h3>
    </div>
    <div class="col-md-6">
      <h3><p> <%= link_to 'Create', new_blog_path %></p></h3>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>
          Post
        </th>
        <th colspan="3" align="center">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @files.each do |f| %>
         <tr>
           <td>
             <%= f["name"].split(".")[0] %> <br />
           </td>
           <td>
             <%= link_to 'Show', blog_path(f["name"]) %> <br />
           </td>
           <td>
             <%= link_to 'Delete', blog_path(f["name"]), method: :delete, :data => {:confirm => "Are you sure?"}%> <br />
           </td>
           <td>
             <%= link_to 'Edit', edit_blog_path(f["name"].split(".")[0])%> <br />
           </td>

         </tr>
       <% end%>

    </tbody>
  </table>


</div>
